!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
notebooks/
esphome/
deps/
#custom_components/
#!.ssh/
#!if_rsa*
!node-red/
secrets.yaml
*.log
*.log.txt
.ssh
.storage
.cloud
.google.token
home-assistant.log*
id_rsa*
home-assistant_v2.*
