# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  # Name of the location where Home Assistant is running
  name: "BruFi Home Assistant"
  # Location required to calculate the time the sun rises and sets
  latitude: 45.665
  longitude: 9.309
  elevation: 261
  # 'metric' for Metric, 'us_customary' for US Customary
  unit_system: metric
  # Pick yours from here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: "Europe/Rome"
  #customize: !include customize.yaml
  packages: !include_dir_named packages
template: !include template.yaml

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


# Load frontend themes from the themes folder
frontend:
    themes: !include_dir_merge_named themes
    
sensor:
  - platform: integration
    unique_id: sh60rs_a2251102546_mppt1_energy
    source: sensor.sh60rs_a2251102546_mppt1_power
    name: SH60RS MPPT1 Energy
    method: left
    round: 4
  - platform: integration
    unique_id: sh60rs_a2251102546_mppt2_energy
    source: sensor.sh60rs_a2251102546_mppt2_power
    name: SH60RS MPPT2 Energy
    method: left
    round: 4
  - platform: integration
    unique_id: sh60rs_a2251102546_mppt3_energy
    source: sensor.sh60rs_a2251102546_mppt3_power
    name: SH60RS MPPT3 Energy
    method: left
    round: 4
  - platform: integration
    unique_id: sh60rs_a2251102546_purchased_energy
    source: sensor.sh60rs_a2251102546_purchased_power
    name: Purchased from Grid
    method: left
    round: 4
  - platform: integration
    unique_id: sh60rs_a2251102546_total_export_active_power
    source: sensor.sh60rs_a2251102546_total_export_active_power
    name: Sold to Grid
    method: left
    round: 4
  - platform: integration
    unique_id: sonoff_100255c289_power
    source: sensor.sonoff_100255c289_power
    name: Consumo Lavastoviglie
    method: left
    round: 4
  - platform: integration
    unique_id: sonoff_100255c8f1_power
    source: sensor.sonoff_100255c8f1_power
    name: Consumo Asciugatrice
    method: left
    round: 4
  - platform: integration
    unique_id: sonoff_100255c2d6_power
    source: sensor.sonoff_100255c2d6_power
    name: Consumo Lavatrice
    method: left
    round: 4
  - platform: integration
    unique_id: sonoff_100255cf16_power
    source: sensor.sonoff_100255cf16_power
    name: Consumo PC
    method: left
    round: 4
    
shell_command:
  pushupdates_to_github: /bin/bash pushupdates.sh
  
  # CONFIGURAZIONE MODBUS PER EUROTHERM SMARTCONTROL365 VECCHIA
#modbus: !include eurotherm.yaml

# smart_irrigation:

